# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
gen

# node.js
#
node_modules/*
# unignore some files from node_modules
## Styles of navigator from deprecated custom components
!node_modules/react-native-deprecated-custom-components
node_modules/react-native-deprecated-custom-components/*
!node_modules/react-native-deprecated-custom-components/src
node_modules/react-native-deprecated-custom-components/src/*
!node_modules/react-native-deprecated-custom-components/src/NavigatorNavigationBarStylesAndroid.js
## Ichigo TextInput component from textinput effects
!node_modules/react-native-textinput-effects
node_modules/react-native-textinput-effects/*
!node_modules/react-native-textinput-effects/lib
node_modules/react-native-textinput-effects/lib/*
!node_modules/react-native-textinput-effects/lib/BaseInput.js
!node_modules/react-native-textinput-effects/lib/Ichigo.js
!node_modules/react-native-textinput-effects/lib/index.js

npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
